.px-4{
    margin: 0px;
    padding: 0px;
    background: yellow;
   
}

.s{ 

    display:inline-flex;
    width: 250px;
    margin-left: 42%;
    
   
}

.p, .h{
    font-size: 2rem;
    text-align: center;
}

.parent, .stark{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

}

.typing, .tony{
    display: block;
}

.coding, .ironman{
    margin-top: 65px;
    margin-left: 50px;
}

.T{
    width: 270px;
}

.a, .b{
    padding: 10px;
    background-color: yellow;
    margin-top: 70px;
    text-align: center;
}

.T, .cat{
    border-radius: 50%;
    border-color: #ffe100;
    border-style:double;
    border-width: 10px;
}

.g{
    background-color: yellow;
    
}

.inspire{
    margin-top: 50px;
}

.btn{
    background-color: #ffe100;
    color: black;
    font-size: larger;
    border: none;
}

.bottom-container{
    padding: 70px;
    text-align: center;
    background-color: yellow;
    height: 200px;
}

.footer-link{
    padding: 10px;
}

.copyright{
    margin-top: 25px;
}

.my-5 {
    margin-top: 0rem !important;
    margin-bottom: 3rem !important;
}

